<!-- editform.tmpl -->
<div>
  <h3>Editing record: {{.Id}}</h3>
  <form method="post" action="{{.Base}}/edit">
    <fieldset>
      {{.Form}}
      <div>
        <input type="hidden" name="id" value="{{.Id}}"/>
        <button class="button">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
<!-- end of editform.tmpl -->
