<!DOCTYPE HTML>
<!-- top.tmpl -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://www.w3.org/2005/11/profile">
  <title>CHESS SPEC Scans Service</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div>
  <div>
    <b>CHESS SPEC Scans Service</b>
  </div>
  <div>
    <!-- primary navigation -->
    <nav>
      <ul>
        <li><a href="{{.Base}}/">Home</a></li>
        <li><a href="{{.Base}}/login">Login</a></li>
        <li><a href="{{.Base}}/search">Search</a></li>
        <li><a href="https://github.com/keara-soloway/SpecScansService/issues">Bug report</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- end of top.tmpl -->
